.title {
  text-align: center;
  padding: 3em
}

.label {

}

.contain {

}

.publish {
  border-radius: 50px;
  border: none;
  background-color: #373737;
  color: white;
  height: 25px;
  width: 110px;
  outline: none;
}