.title {
  text-align: center;
  padding: 3em
}

.label{
  border-radius: 13px;
  background-color:#373737;
  color: white;
  height: 50px;
  width: 500px;
  margin: 20px 0 20px 0;
  box-sizing: border-box;
  padding: 10px;
}

.contain {

}

.publish {
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  background-color: #373737;
  color: white;
  height: 35px;
  width: 110px;
  outline: none;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #373737;
  color: white;
}