body {
  background-color: #1C1C1C;
}

.title {
  color: white;
  text-align: center;
  padding: 3em
}

.label{
  border-radius: 13px;
  background-color:#373737;
  color: white;
  height: 50px;
  width: 500px;
  margin: 20px 0 20px 0;
  box-sizing: border-box;
  padding: 10px;
}

.publish {
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  background-color: #373737;
  color: white;
  height: 35px;
  width: 110px;
  outline: none;
  transition: 0.2s;
}

.publish:hover {
  background-color: white;
  color: #373737;
  width: 115px;
  height: 37px;
}

.contain {
  text-align: center;
  margin: auto;
  width: 500px;
}

.footer {
  position: fixed;
  margin-top: 30px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  height: 50px;
  background-color: #373737;
  color: white;
}

.input {
  width: 75%;
  float: right;
}

.plat {
  padding-top: 5px;
  text-align: center;
  width: 20%;
  float: left;
}
